doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/login.css')
    body
        div(class='login')
            div(class='content')
                div(class='container')
                    div(class='card-head')
                        p Login
                    div(class='card-body')
                        form(action='')
                            table
                                tr 
                                    td 
                                        p Email 
                                    td 
                                        input(type='text', name='email')
                                tr 
                                    td 
                                        p Password 
                                    td 
                                        input(type='password', name='password')
                            div(class='btn')
                                button(class='btn-login') Login
                        
